

.btn:hover
{
 background-color:gray;
}
.cell {
  background-color: #b8f3f2;
}

body{        
  height:100vh;
  background-image:linear-gradient(to left,#007bff,#68e8d1);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}